<fieldset *ngIf="step" [formGroup]="form" style="max-width: 20em">
  <legend>
    <button *ngFor="let _stepEntry of steps" [disabled]="_stepEntry !== step">
      {{ _stepEntry.title }}
    </button>
  </legend>

  <ng-template #stepAnchor></ng-template>

  <hr>
  <div style="text-align: right">
    <button *ngIf="Step.CATEGORY !== step.step" (click)="previousStep()" type="button">
      Previous
    </button>
    <button type="button" (click)="nextStep()" [disabled]="!canNextStep" style="margin-left: .5em">
      {{ Step.PROOF === step.step ? 'Done' : 'Next' }}
    </button>
  </div>
</fieldset>
